<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Astro_s_Hoi4_Tools___Custom_Map_Setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Astro_s_Hoi4_Tools___Custom_Map_Setup.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="ModPath" serializeAs="String">
                <value />
            </setting>
        </Astro_s_Hoi4_Tools___Custom_Map_Setup.Properties.Settings>
    </userSettings>
</configuration>